In [ ]:
!gdown --id 10WN9t9eS2NuBEVLryWMd2Wpf4qPsanbm

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=10WN9t9eS2NuBEVLryWMd2Wpf4qPsanbm
To: /content/weatherAUS_V2.csv
100% 15.3M/15.3M [00:00<00:00, 179MB/s]

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/weatherAUS_V2.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [ ]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [ ]:
df.shape

(142193, 23)

In [ ]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [ ]:
df[['Sunshine', 'Evaporation']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sunshine     74377 non-null  float64
 1   Evaporation  81350 non-null  float64
dtypes: float64(2)
memory usage: 2.2 MB

In [ ]:
df[['Sunshine', 'Evaporation']].describe()

           Sunshine   Evaporation
count  74377.000000  81350.000000
mean       7.624853      5.469824
std        3.781525      4.188537
min        0.000000      0.000000
25%        4.900000      2.600000
50%        8.500000      4.800000
75%       10.600000      7.400000
max       14.500000    145.000000

# Estações

- Primavera: Setembro a Novembro (9 - 11)
- Verão: Dezembro a Fevereiro (12 - 02)
- Outono: Março a Maio (03 - 05)
- Inverno: Junho a Agosto (06 - 08)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.0+ MB

In [ ]:
from datetime import datetime

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df[['Date']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    142193 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.1 MB

In [ ]:
df['Year'] = pd.DatetimeIndex(df['Date']).year
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,2008
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,2008
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,2008
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,2008
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,2008

In [ ]:
df['Year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2007])

In [ ]:
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,2008,12
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,2008,12
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,2008,12
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,2008,12
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12

In [ ]:
df['Month'].unique()

array([12,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

# Checando Estações

In [ ]:
def estacao(mes):
  if mes >= 9 and mes <= 11:
    return 'Primavera'
  elif mes == 12 or mes <= 2:
    return 'Verão'
  elif mes >= 3 and mes <= 5:
    return 'Outono'
  else:
    return 'Inverno'

In [ ]:
df['Estação'] = df.Month.apply(estacao)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Estação
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.1,8.0,NaN,16.9,21.8,No,No,2008,12,Verão
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1007.8,NaN,NaN,17.2,24.3,No,No,2008,12,Verão
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,1008.7,NaN,2.0,21.0,23.2,No,No,2008,12,Verão
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,1012.8,NaN,NaN,18.1,26.5,No,No,2008,12,Verão
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12,Verão

In [ ]:
df_medias_estacao = df.groupby(by=['Year', 'Estação']).mean()
df_medias_estacao

                  MinTemp    MaxTemp  Rainfall  Evaporation  Sunshine  \
Year Estação
2007 Primavera  11.753333  25.053333  3.180000     5.900000  7.880000
     Verão      13.312903  25.119355  3.258065     5.819355  8.287097
2008 Inverno     7.733640  17.832169  1.839925     2.927788  6.552593
     Outono     10.217391  21.652174  1.484783     4.061413  7.852174
     Primavera  13.245063  23.680111  1.989106     5.762832  8.287255
     Verão      15.566329  25.995849  3.099117     7.033396  8.461633
2009 Inverno     7.652540  17.560339  2.161645     2.915371  6.514489
     Outono     12.380839  23.162215  2.009356     4.583298  7.329338
     Primavera  12.099141  23.655626  1.843782     6.309860  8.446755
     Verão      16.686815  28.884917  2.631180     8.551423  9.388054
2010 Inverno     7.090257  16.716753  2.288603     2.523193  6.077406
     Outono     12.968127  23.509461  2.250221     4.229162  6.953319
     Primavera  11.470886  21.966246  2.903670     4.959873  7.438772
     Verão      16.972551  28.296489  3.389342     7.606832  8.721121
2011 Inverno     7.276350  17.433059  2.527346     2.781874  6.412812
     Outono     12.249875  22.257153  2.700858     3.962192  6.346279
     Primavera  11.751096  22.889708  2.520535     5.652225  7.944782
     Verão      16.974975  27.626709  3.478904     7.084374  8.310084
2012 Inverno     6.796150  17.046144  2.223649     2.746909  6.289024
     Outono     11.957585  22.864189  2.984142     4.407254  7.191997
     Primavera  11.103206  23.420607  1.308382     6.221619  8.616751
     Verão      17.079017  28.052230  3.464426     7.759778  8.654953
2013 Inverno     7.913205  18.078760  2.538498     2.992145  6.285936
     Outono     12.904503  23.998592  2.283685     4.761308  7.072811
     Primavera  11.934476  24.068627  2.147168     6.502298  8.412549
     Verão      16.416165  29.101899  2.002291     8.914593  9.608147
2014 Inverno     7.395822  17.728203  2.130279     3.191960  6.324060
     Outono     13.346482  23.871501  2.239552     4.746996  6.794544
     Primavera  11.977001  24.552598  1.267854     7.017246  8.880955
     Verão      16.977625  29.097508  2.186421     8.705665  9.232608
2015 Inverno     7.182774  17.240101  1.820365     3.116757  6.271919
     Outono     12.285165  22.993448  2.524341     5.146896  7.218906
     Primavera  12.328258  24.779250  1.353615     6.933992  8.617255
     Verão      17.159287  29.165078  2.853153     8.609862  8.923750
2016 Inverno     7.994272  17.431109  3.140125     3.505829  5.981679
     Outono     13.834056  24.648609  1.995023     5.428558  7.095174
     Primavera  11.225406  22.556858  2.002218     7.029617  8.226132
     Verão      17.158694  29.098107  2.333301     8.695255  8.993883
2017 Inverno     7.103559  18.230653  1.964418     2.712130  6.256013
     Outono     12.957205  23.837993  2.494824     5.296602  7.185095
     Verão      17.590021  29.714245  2.648302     8.683927  9.043298

                WindGustSpeed  WindSpeed9am  WindSpeed3pm  Humidity9am  \
Year Estação
2007 Primavera      41.266667      9.166667     16.133333    69.333333
     Verão          40.580645     10.032258     17.451613    69.774194
2008 Inverno        39.044444     13.885185     17.696133    69.866913
     Outono         34.472527     11.054945     15.497268    75.173913
     Primavera      43.248788     14.579167     20.489569    60.341667
     Verão          43.039062     14.389175     20.629299    64.820051
2009 Inverno        39.658251     13.592610     18.161979    75.041527
     Outono         38.308475     13.245686     18.001435    70.779429
     Primavera      44.095445     16.120161     21.175921    61.685258
     Verão          43.831556     15.175571     20.929609    61.069465
2010 Inverno        36.776123     12.579404     16.921190    77.694252
     Outono         36.372580     12.746621     17.036319    72.660692
     Primavera      41.031857     15.042794     19.746748    67.807009
     Verão          43.434477     15.271087     20.283329    64.752500
2011 Inverno        38.652490     13.345883     17.509732    75.970776
     Outono         36.823997     12.734498     16.715152    73.860029
     Primavera      41.921080     15.031959     19.869501    66.096291
     Verão          40.991123     14.888063     19.065196    67.110176
2012 Inverno        38.137577     13.020752     17.586064    74.929096
     Outono         37.536999     12.931413     17.435027    72.077968
     Primavera      42.356886     15.212151     20.245765    61.049090
     Verão          42.096611     15.269131     19.338154    66.357918
2013 Inverno        38.093283     13.079574     17.504643    76.404294
     Outono         37.248154     12.898702     17.401729    71.189052
     Primavera      44.898579     16.265226     21.099517    60.537310
     Verão          43.653846     15.287396     20.510550    58.876085
2014 Inverno        38.007589     13.034064     17.344691    75.087945
     Outono         36.338032     12.213058     16.647332    73.909007
     Primavera      42.213684     14.957717     19.808706    60.735159
     Verão          43.508583     15.161472     20.193390    61.458645
2015 Inverno        36.231159     12.164368     16.657423    76.698215
     Outono         39.033634     13.662250     18.092029    70.668791
     Primavera      40.599459     14.621053     19.525866    62.464828
     Verão          42.530526     14.902890     19.569921    62.828652
2016 Inverno        38.780453     13.617740     17.625000    77.135002
     Outono         37.460378     12.680711     17.624171    71.590618
     Primavera      42.822211     15.700733     20.395843    64.678356
     Verão          41.931517     14.622713     19.439813    63.804931
2017 Inverno        31.562389     10.391122     14.532580    79.450042
     Outono         36.317445     12.472600     16.684977    73.150631
     Verão          41.866592     14.620531     19.131298    64.886202

                Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  \
Year Estação
2007 Primavera    42.166667  1018.550000  1015.450000  4.400000  4.866667
     Verão        49.290323  1015.051613  1012.696774  5.000000  4.903226
2008 Inverno      50.478743  1020.486581  1018.009862  3.880567  4.196356
     Outono       49.358696  1021.419672  1018.726957  3.266304  3.451087
     Primavera    46.435506  1016.226528  1013.644490  4.393082  4.282334
     Verão        51.106410  1010.574184  1008.346809  4.854167  4.681338
2009 Inverno      56.331006  1017.065463  1014.630142  4.247191  4.416608
     Outono       51.053161  1019.222907  1016.853562  4.096516  4.265836
     Primavera    47.850062  1016.729752  1014.254679  4.078194  4.160661
     Verão        44.649351  1014.175937  1011.997786  4.062705  3.963102
2010 Inverno      58.316790  1021.412523  1019.009711  4.435685  4.800696
     Outono       53.218168  1018.921138  1016.507882  4.413962  4.682495
     Primavera    54.356344  1018.908860  1016.539233  4.630841  4.779826
     Verão        49.504487  1013.304576  1011.231188  4.452837  4.505015
2011 Inverno      56.341487  1020.906991  1018.555388  4.083045  4.372340
     Outono       55.687880  1018.099879  1015.912767  4.608523  4.811536
     Primavera    50.942563  1017.277472  1014.836842  4.423828  4.477630
     Verão        52.731816  1013.122092  1011.129172  4.693042  4.666118
2012 Inverno      55.606495  1020.539373  1018.056076  4.225976  4.557231
     Outono       52.798397  1019.162424  1016.757052  4.121685  4.356627
     Primavera    46.242658  1017.159592  1014.616586  4.198098  4.064935
     Verão        50.279955  1013.492264  1011.397356  4.448255  4.658567
2013 Inverno      57.353211  1019.781062  1017.306612  4.287523  4.530947
     Outono       50.802023  1018.716252  1016.186443  4.273664  4.600848
     Primavera    46.867573  1015.545215  1013.021257  4.007120  4.053266
     Verão        43.673604  1013.038738  1010.835512  4.212121  3.926108
2014 Inverno      56.568229  1021.958133  1019.537539  4.386672  4.418605
     Outono       54.393287  1018.732653  1016.309496  4.712271  4.798488
     Primavera    44.886432  1017.843816  1015.114406  4.068900  3.986852
     Verão        45.471826  1013.217943  1010.947506  4.342126  4.114113
2015 Inverno      57.257019  1022.798176  1020.329182  4.563426  4.667537
     Outono       51.915130  1019.247993  1016.825130  4.478437  4.602294
     Primavera    46.127209  1019.968891  1017.258422  4.165324  4.183177
     Verão        46.347795  1014.371455  1012.123289  4.747158  4.540008
2016 Inverno      59.957740  1019.318561  1016.846524  5.193229  5.576972
     Outono       51.302721  1018.390743  1015.862751  4.819137  4.881879
     Primavera    50.866436  1015.190898  1012.733971  4.915687  5.057102
     Verão        46.408469  1013.813458  1011.546537  4.831865  4.453917
2017 Inverno      57.881206  1026.049072  1023.540167  4.865237  5.129594
     Outono       53.324115  1019.420955  1016.966985  4.958635  4.904832
     Verão        46.881643  1013.103931  1010.922288  5.088021  4.432411

                  Temp9am    Temp3pm      Month
Year Estação
2007 Primavera  16.750000  23.720000  11.000000
     Verão      17.767742  23.200000  12.000000
2008 Inverno    11.649081  16.657274   7.334559
     Outono     14.153804  20.565217   4.000000
     Primavera  18.134722  21.974341  10.002774
     Verão      20.279257  24.261146  10.844417
2009 Inverno    11.804410  16.430758   7.011683
     Outono     16.761142  21.848054   4.000948
     Primavera  17.757676  22.009759  10.004124
     Verão      21.700000  27.133739   5.131495
2010 Inverno    11.055682  15.613552   7.018355
     Outono     17.320196  22.248115   4.000000
     Primavera  16.688102  20.330919  10.004103
     Verão      21.726414  26.457629   5.105276
2011 Inverno    11.694076  16.362988   7.008232
     Outono     16.290591  20.939886   3.994314
     Primavera  17.202258  21.282467  10.001946
     Verão      21.475377  25.880420   5.106362
2012 Inverno    11.218993  15.951362   7.006077
     Outono     16.677898  21.551641   4.000485
     Primavera  17.327472  21.705208  10.007574
     Verão      21.663454  26.366395   1.483063
2013 Inverno    12.127591  16.903856   7.009718
     Outono     17.466918  22.628122   3.995695
     Primavera  17.880681  22.307627  10.000688
     Verão      22.045095  27.102180   6.689655
2014 Inverno    11.694790  16.615787   7.011832
     Outono     17.636948  22.485319   3.997931
     Primavera  18.039600  22.868055  10.002527
     Verão      22.012835  27.144465   5.047409
2015 Inverno    11.272863  15.997418   7.013315
     Outono     16.694487  21.598469   3.998844
     Primavera  18.356976  22.911241  10.001628
     Verão      22.245682  27.273982   5.137744
2016 Inverno    11.905851  15.941538   7.011584
     Outono     18.202737  23.101066   4.009308
     Primavera  16.812085  20.586845   9.997715
     Verão      22.113818  27.162346   5.001888
2017 Inverno    11.331826  16.951950   6.000000
     Outono     17.410267  22.302303   4.004738
     Verão      22.348072  27.785596   1.474092

In [ ]:
df_medias_estacao.query('Estação == "Inverno" and Year == 2009')

,,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Month
Year,Estação,,,,,,,,,,,,,,,,,
2009,Inverno,7.65254,17.560339,2.161645,2.915371,6.514489,39.658251,13.59261,18.161979,75.041527,56.331006,1017.065463,1014.630142,4.247191,4.416608,11.80441,16.430758,7.011683

In [ ]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Estação
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.1,8.0,NaN,16.9,21.8,No,No,2008,12,Verão
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1007.8,NaN,NaN,17.2,24.3,No,No,2008,12,Verão
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,1008.7,NaN,2.0,21.0,23.2,No,No,2008,12,Verão
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,1012.8,NaN,NaN,18.1,26.5,No,No,2008,12,Verão
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12,Verão

# Análise Localização

In [ ]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Estação
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.1,8.0,NaN,16.9,21.8,No,No,2008,12,Verão
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1007.8,NaN,NaN,17.2,24.3,No,No,2008,12,Verão
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,1008.7,NaN,2.0,21.0,23.2,No,No,2008,12,Verão
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,1012.8,NaN,NaN,18.1,26.5,No,No,2008,12,Verão
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12,Verão

In [ ]:
df['Location'].unique()

array(['Albury', 'BadgerysCreek', 'Cobar', 'CoffsHarbour', 'Moree',
       'Newcastle', 'NorahHead', 'NorfolkIsland', 'Penrith', 'Richmond',
       'Sydney', 'SydneyAirport', 'WaggaWagga', 'Williamtown',
       'Wollongong', 'Canberra', 'Tuggeranong', 'MountGinini', 'Ballarat',
       'Bendigo', 'Sale', 'MelbourneAirport', 'Melbourne', 'Mildura',
       'Nhil', 'Portland', 'Watsonia', 'Dartmoor', 'Brisbane', 'Cairns',
       'GoldCoast', 'Townsville', 'Adelaide', 'MountGambier', 'Nuriootpa',
       'Woomera', 'Albany', 'Witchcliffe', 'PearceRAAF', 'PerthAirport',
       'Perth', 'SalmonGums', 'Walpole', 'Hobart', 'Launceston',
       'AliceSprings', 'Darwin', 'Katherine', 'Uluru'], dtype=object)

# Análise de Regiões Climáticas

[Regiões Climáticas da Austrália](https://australianwildlifejourneys.com/plan-your-trip/climate-and-seasons)

[Imagem da Austrália](https://australia101.com/uploads/images/australia-climate-map.png)

In [ ]:
def regiao(location):
  if location == 'Canberra' or location == 'Tuggeranong' or location == 'MountGinini':
    return 'Temperado'    # ACT
  if location == 'Sydney' or location == 'Penrith' or location == 'Newcastle' or location == 'Wollongong' or location == 'SydneyAirport' or location == 'BadgerysCreek' or location == 'Cobar' or location == 'CoffsHarbour' or location == 'Moree' or location == 'NorahHead' or location == 'NorfolkIsland' or location == 'Richmond' or location == 'WaggaWagga' or location == 'Williamtown':
    return 'Temperado'  # NSW
  if location == 'Melbourne' or location == 'Ballarat' or location == 'Albury' or location == 'Bendigo' or location == 'MelbourneAirport' or location == 'Sale' or location == 'Mildura' or location == 'Nhil' or location == 'Portland' or location == 'Watsonia' or location == 'Dartmoor':
    return 'Temperado'   # Victoria
  if location == 'Brisbane' or location == 'Cairns' or location == 'Townsville' or location == 'GoldCoast':
    return 'Subtropical'   # Queensland
  if location == 'Adelaide' or location == 'MountGambier' or location == 'Nuriootpa' or location == 'Woomera':
    return 'Deserto'   # SA
  if location == 'Perth' or location == 'Albany' or location == 'Witchcliffe' or location == 'PerthAirport' or location == 'PearceRAAF' or location == 'SalmonGums' or location == 'Walpole':
    return 'Pradaria'   # WA - Grassland
  if location == 'Hobart' or location == 'Launceston':
    return 'Temperado'   # Tasmania
  if location == 'Darwin' or location == 'AliceSprings' or location == 'Katherine' or location == 'Uluru':
    return 'Tropical'   # NT

In [ ]:
df['Região'] = df.Location.apply(regiao)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Estação,Região
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,8.0,NaN,16.9,21.8,No,No,2008,12,Verão,Temperado
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,NaN,NaN,17.2,24.3,No,No,2008,12,Verão,Temperado
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,NaN,2.0,21.0,23.2,No,No,2008,12,Verão,Temperado
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,NaN,NaN,18.1,26.5,No,No,2008,12,Verão,Temperado
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,7.0,8.0,17.8,29.7,No,No,2008,12,Verão,Temperado

In [ ]:
df['Região'].unique()

array(['Temperado', 'Subtropical', 'Deserto', 'Pradaria', 'Tropical'],
      dtype=object)

In [ ]:
df_medias_estacao = df.groupby(by=['Year', 'Estação', 'Região']).mean()
df_medias_estacao.head(20)

                              MinTemp    MaxTemp  Rainfall  Evaporation  \
Year Estação   Região
2007 Primavera Temperado    11.753333  25.053333  3.180000     5.900000
     Verão     Temperado    13.312903  25.119355  3.258065     5.819355
2008 Inverno   Deserto       6.746000  14.706000  3.600000     2.302703
               Pradaria      6.438710  18.858065  3.341935     2.487097
               Subtropical   9.666129  21.109677  1.729032     3.229032
               Temperado     5.538312  14.641558  1.690260     2.177778
               Tropical     18.798387  31.900000  0.000000     7.141935
     Outono    Temperado    10.217391  21.652174  1.484783     4.061413
     Primavera Deserto      12.085714  23.166667  0.461728     7.006452
               Pradaria     11.396703  22.684444  1.890110     4.938462
               Subtropical  16.150562  25.864444  4.910112     5.739326
               Temperado    10.365385  20.921978  1.651099     5.494475
               Tropical     24.840659  34.010989  1.942857     7.075676
     Verão     Deserto      12.995161  22.929032  2.561290     6.329412
               Pradaria     15.050820  24.246774  0.658065     7.035484
               Subtropical  22.824590  31.166667  4.583607     7.527473
               Temperado    13.162319  24.352469  2.717938     6.794318
               Tropical     23.090323  33.435484  6.138710     7.903226
2009 Inverno   Deserto       7.319231  16.241484  2.202186     2.744648
               Pradaria      8.288331  17.365696  4.782295     2.217391

                             Sunshine  WindGustSpeed  WindSpeed9am  \
Year Estação   Região
2007 Primavera Temperado     7.880000      41.266667      9.166667
     Verão     Temperado     8.287097      40.580645     10.032258
2008 Inverno   Deserto       5.322000      38.367347     11.183673
               Pradaria      6.800000      33.822581     10.080645
               Subtropical   7.336066      29.983871      8.596774
               Temperado     5.780000      42.423256     15.626230
               Tropical     10.327419      42.145161     16.548387
     Outono    Temperado     7.852174      34.472527     11.054945
     Primavera Deserto       8.857317      39.841463     13.035714
               Pradaria      8.786813      38.329670     12.362637
               Subtropical   8.444444      33.322222      9.700000
               Temperado     7.841111      50.771536     17.395604
               Tropical      8.883516      38.887640     11.780220
     Verão     Deserto       7.896721      41.112903     16.754098
               Pradaria     10.548387      40.161290     11.467742
               Subtropical   8.892391      37.672131     14.666667
               Temperado     8.253521      45.652055     14.168803
               Tropical      7.006452      41.533333     16.096774
2009 Inverno   Deserto       5.897965      41.705556     15.010929
               Pradaria      6.027429      41.062857     13.605178

                            WindSpeed3pm  Humidity9am  Humidity3pm  \
Year Estação   Região
2007 Primavera Temperado       16.133333    69.333333    42.166667
     Verão     Temperado       17.451613    69.774194    49.290323
2008 Inverno   Deserto         16.440000    73.420000    58.320000
               Pradaria        12.322581    72.533333    51.377049
               Subtropical     11.983607    61.080645    44.278689
               Temperado       19.415584    74.444805    54.377850
               Tropical        21.161290    50.147541    30.064516
     Outono    Temperado       15.497268    75.173913    49.358696
     Primavera Deserto         17.776471    50.880952    34.976471
               Pradaria        16.835165    61.648352    48.428571
               Subtropical     15.133333    61.877778    56.544444
               Temperado       22.729282    59.991758    44.879121
               Tropical        23.065934    67.648352    51.373626
     Verão     Deserto         20.451613    61.838710    46.370968
               Pradaria        21.918033    66.033898    55.448276
               Subtropical     20.723577    64.414634    62.113821
               Temperado       20.775681    66.016949    48.414737
               Tropical        18.225806    58.338710    50.564516
2009 Inverno   Deserto         20.035519    76.169399    57.479339
               Pradaria        17.235484    80.058065    61.361290

                            Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  \
Year Estação   Região
2007 Primavera Temperado    1018.550000  1015.450000  4.400000  4.866667
     Verão     Temperado    1015.051613  1012.696774  5.000000  4.903226
2008 Inverno   Deserto      1022.670000  1021.036000       NaN       NaN
               Pradaria     1023.140323  1020.772581  3.709677  4.354839
               Subtropical  1021.635484  1018.178689  3.258065  3.467742
               Temperado    1020.377597  1018.244659  4.425325  4.746753
               Tropical     1015.464516  1011.474194  1.967742  2.032258
     Outono    Temperado    1021.419672  1018.726957  3.266304  3.451087
     Primavera Deserto      1017.704762  1015.815294       NaN       NaN
               Pradaria     1017.340659  1015.472527  3.791209  4.098901
               Subtropical  1018.413333  1014.977778  4.266667  3.833333
               Temperado    1016.046154  1013.683179  4.645604  4.569061
               Tropical     1012.306593  1008.315385  4.109890  3.769231
     Verão     Deserto      1011.488710  1010.003226  6.161290  5.741935
               Pradaria     1013.422581  1011.750000  3.774194  3.032787
               Subtropical  1010.978049  1007.954472  4.666667  4.387097
               Temperado    1010.159848  1008.118182  4.926829  4.797508
               Tropical     1008.656452  1005.525806  5.177419  5.612903
2009 Inverno   Deserto      1016.561580  1014.585753  4.882576  5.170455
               Pradaria     1016.898857  1015.204183  4.591837  4.640580

                              Temp9am    Temp3pm      Month
Year Estação   Região
2007 Primavera Temperado    16.750000  23.720000  11.000000
     Verão     Temperado    17.767742  23.200000  12.000000
2008 Inverno   Deserto      10.532000  13.664000   7.500000
               Pradaria     12.037097  17.653226   7.500000
               Subtropical  14.990323  20.096721   7.500000
               Temperado     8.682143  13.488312   7.207792
               Tropical     23.559677  30.433871   7.500000
     Outono    Temperado    14.153804  20.565217   4.000000
     Primavera Deserto      17.046429  21.791765  10.023529
               Pradaria     17.398901  21.062637  10.000000
               Subtropical  21.957778  23.913333  10.000000
               Temperado    14.869780  19.188187  10.000000
               Tropical     29.153846  32.283516  10.000000
     Verão     Deserto      17.170968  21.635484  12.000000
               Pradaria     19.059677  23.042623  12.000000
               Subtropical  27.989431  29.144715  12.000000
               Temperado    17.774788  22.567296  10.112705
               Tropical     28.377419  31.429032  12.000000
2009 Inverno   Deserto      10.815301  15.226374   7.008174
               Pradaria     12.179355  16.075806   7.009662

In [ ]:
if df['RainTomorrow'] == 'Yes':
  df['RainTomorrow'] = 1
else:
  df['RainTomorrow'] = 0

ValueError: ignored

In [ ]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

# Substituindo Valores Nulos pelas Médias

In [ ]:
df_agrupado = df.set_index(['Year', 'Estação', 'Região'])
df_agrupado.head()

                             Date Location  MinTemp  MaxTemp  Rainfall  \
Year Estação Região
2008 Verão   Temperado 2008-12-01   Albury     13.4     22.9       0.6
             Temperado 2008-12-02   Albury      7.4     25.1       0.0
             Temperado 2008-12-03   Albury     12.9     25.7       0.0
             Temperado 2008-12-04   Albury      9.2     28.0       0.0
             Temperado 2008-12-05   Albury     17.5     32.3       1.0

                        Evaporation  Sunshine WindGustDir  WindGustSpeed  \
Year Estação Região
2008 Verão   Temperado          NaN       NaN           W           44.0
             Temperado          NaN       NaN         WNW           44.0
             Temperado          NaN       NaN         WSW           46.0
             Temperado          NaN       NaN          NE           24.0
             Temperado          NaN       NaN           W           41.0

                       WindDir9am  ... Humidity3pm  Pressure9am  Pressure3pm  \
Year Estação Região                ...
2008 Verão   Temperado          W  ...        22.0       1007.7       1007.1
             Temperado        NNW  ...        25.0       1010.6       1007.8
             Temperado          W  ...        30.0       1007.6       1008.7
             Temperado         SE  ...        16.0       1017.6       1012.8
             Temperado        ENE  ...        33.0       1010.8       1006.0

                        Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
Year Estação Região
2008 Verão   Temperado       8.0       NaN     16.9     21.8         No
             Temperado       NaN       NaN     17.2     24.3         No
             Temperado       NaN       2.0     21.0     23.2         No
             Temperado       NaN       NaN     18.1     26.5         No
             Temperado       7.0       8.0     17.8     29.7         No

                        RainTomorrow  Month
Year Estação Região
2008 Verão   Temperado            No     12
             Temperado            No     12
             Temperado            No     12
             Temperado            No     12
             Temperado            No     12

[5 rows x 24 columns]

In [ ]:
df_merge = df_agrupado.merge(df_medias_estacao[['Evaporation', 'Sunshine', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 
                                                'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm']], how = 'left', left_index = True, right_index = True)
df_merge.head()

                               Date  Location  MinTemp  MaxTemp  Rainfall  \
Year Estação   Região
2007 Primavera Temperado 2007-11-01  Canberra      8.0     24.3       0.0
               Temperado 2007-11-02  Canberra     14.0     26.9       3.6
               Temperado 2007-11-03  Canberra     13.7     23.4       3.6
               Temperado 2007-11-04  Canberra     13.3     15.5      39.8
               Temperado 2007-11-05  Canberra      7.6     16.1       2.8

                          Evaporation_x  Sunshine_x WindGustDir  \
Year Estação   Região
2007 Primavera Temperado            3.4         6.3          NW
               Temperado            4.4         9.7         ENE
               Temperado            5.8         3.3          NW
               Temperado            7.2         9.1          NW
               Temperado            5.6        10.6         SSE

                          WindGustSpeed WindDir9am  ... WindSpeed9am_y  \
Year Estação   Região                               ...
2007 Primavera Temperado           30.0         SW  ...       9.166667
               Temperado           39.0          E  ...       9.166667
               Temperado           85.0          N  ...       9.166667
               Temperado           54.0        WNW  ...       9.166667
               Temperado           50.0        SSE  ...       9.166667

                          WindSpeed3pm_y  Humidity9am_y  Humidity3pm_y  \
Year Estação   Região
2007 Primavera Temperado       16.133333      69.333333      42.166667
               Temperado       16.133333      69.333333      42.166667
               Temperado       16.133333      69.333333      42.166667
               Temperado       16.133333      69.333333      42.166667
               Temperado       16.133333      69.333333      42.166667

                          Pressure9am_y  Pressure3pm_y  Cloud9am_y  \
Year Estação   Região
2007 Primavera Temperado        1018.55        1015.45         4.4
               Temperado        1018.55        1015.45         4.4
               Temperado        1018.55        1015.45         4.4
               Temperado        1018.55        1015.45         4.4
               Temperado        1018.55        1015.45         4.4

                          Cloud3pm_y  Temp9am_y  Temp3pm_y
Year Estação   Região
2007 Primavera Temperado    4.866667      16.75      23.72
               Temperado    4.866667      16.75      23.72
               Temperado    4.866667      16.75      23.72
               Temperado    4.866667      16.75      23.72
               Temperado    4.866667      16.75      23.72

[5 rows x 36 columns]

In [ ]:
df_merge = df_merge.reset_index()
df_merge.head()

,Year,Estação,Região,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation_x,Sunshine_x,...,WindSpeed9am_y,WindSpeed3pm_y,Humidity9am_y,Humidity3pm_y,Pressure9am_y,Pressure3pm_y,Cloud9am_y,Cloud3pm_y,Temp9am_y,Temp3pm_y
0,2007,Primavera,Temperado,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72
1,2007,Primavera,Temperado,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72
2,2007,Primavera,Temperado,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72
3,2007,Primavera,Temperado,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72
4,2007,Primavera,Temperado,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72

In [ ]:
import numpy as np

In [ ]:
# Caso a condição seja True, pega o primeiro valor (Evaporation_y é da tabela de médias)
df_merge['Evaporation_x'] = np.where(df_merge['Evaporation_x'].isnull(), df_merge['Evaporation_y'], df_merge['Evaporation_x'])
df_merge['Humidity3pm_x'] = np.where(df_merge['Humidity3pm_x'].isnull(), df_merge['Humidity3pm_y'], df_merge['Humidity3pm_x'])
df_merge['Humidity9am_x'] = np.where(df_merge['Humidity9am_x'].isnull(), df_merge['Humidity9am_y'], df_merge['Humidity9am_x'])
df_merge['Pressure3pm_x'] = np.where(df_merge['Pressure3pm_x'].isnull(), df_merge['Pressure3pm_y'], df_merge['Pressure3pm_x'])
df_merge['Pressure9am_x'] = np.where(df_merge['Pressure9am_x'].isnull(), df_merge['Pressure9am_y'], df_merge['Pressure9am_x'])
df_merge['Sunshine_x'] = np.where(df_merge['Sunshine_x'].isnull(), df_merge['Sunshine_y'], df_merge['Sunshine_x'])
df_merge['Temp3pm_x'] = np.where(df_merge['Temp3pm_x'].isnull(), df_merge['Temp3pm_y'], df_merge['Temp3pm_x'])
df_merge['Temp9am_x'] = np.where(df_merge['Temp9am_x'].isnull(), df_merge['Temp9am_y'], df_merge['Temp9am_x'])
df_merge['WindSpeed3pm_x'] = np.where(df_merge['WindSpeed3pm_x'].isnull(), df_merge['WindSpeed3pm_y'], df_merge['WindSpeed3pm_x'])
df_merge['WindSpeed9am_x'] = np.where(df_merge['WindSpeed9am_x'].isnull(), df_merge['WindSpeed9am_y'], df_merge['WindSpeed9am_x'])
df_merge['Cloud3pm_x'] = np.where(df_merge['Cloud3pm_x'].isnull(), df_merge['Cloud3pm_y'], df_merge['Cloud3pm_x'])
df_merge['Cloud9am_x'] = np.where(df_merge['Cloud9am_x'].isnull(), df_merge['Cloud9am_y'], df_merge['Cloud9am_x'])

In [ ]:
df_merge.head()

,Year,Estação,Região,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation_x,Sunshine_x,...,WindSpeed9am_y,WindSpeed3pm_y,Humidity9am_y,Humidity3pm_y,Pressure9am_y,Pressure3pm_y,Cloud9am_y,Cloud3pm_y,Temp9am_y,Temp3pm_y
0,2007,Primavera,Temperado,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72
1,2007,Primavera,Temperado,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72
2,2007,Primavera,Temperado,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72
3,2007,Primavera,Temperado,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72
4,2007,Primavera,Temperado,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,...,9.166667,16.133333,69.333333,42.166667,1018.55,1015.45,4.4,4.866667,16.75,23.72